<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobMontorDao">
	
	<resultMap id="XxlJobMontor" type="com.xxl.job.admin.core.model.XxlJobMontorInfo" >

        <result column="job_id" property="id" />
		<result column="job_group" property="jobGroup" />
		

		<result column="dailyFailCnt" property="dailyFailCnt" />
		<result column="dailySuccessCnt" property="dailySuccessCnt" />
		<result column="dailyAvgCallTime" property="dailyAvgCallTime" />
	    <result column="dailyMaxCallTime" property="dailyMaxCallTime" />
	    
	    <result column="monthFailCnt" property="monthFailCnt" />
	    <result column="monthSuccessCnt" property="monthSuccessCnt" />
	    <result column="monthAvgCallTime" property="monthAvgCallTime" />	    
	    <result column="monthMaxCallTime" property="monthMaxCallTime" />

	    
	</resultMap>


	
	<select id="getMontorData" resultMap="XxlJobMontor">
	select monthInfo.job_group, monthInfo.job_id, dayInfo.dailyFailCnt,dayInfo.dailySuccessCnt,dayInfo.dailyAvgCallTime, dayInfo.dailyMaxCallTime,
		   monthInfo.monthFailCnt, monthInfo.monthSuccessCnt, monthInfo.monthAvgCallTime, monthInfo.monthMaxCallTime
		from 
		(
		select job_group, job_id, 
		sum(case when handle_code = 200 then 0 else 1 end) as monthFailCnt, 
		sum(case when handle_code = 200 then 1 else 0 end) as monthSuccessCnt,
		sum(case when handle_code = 200 then UNIX_TIMESTAMP(handle_time) * 1000-UNIX_TIMESTAMP(trigger_time) * 1000 else 0 end)
		/ sum(case when handle_code = 200 then 1 else 0 end)  as monthAvgCallTime,
		max(case when handle_code = 200 then UNIX_TIMESTAMP(handle_time) * 1000-UNIX_TIMESTAMP(trigger_time) * 1000 else 0 end) as monthMaxCallTime
		
		from XXL_JOB_QRTZ_TRIGGER_LOG where job_group = #{jobGroup} and job_id = #{jobId} and DATE_FORMAT(trigger_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
		
		) monthInfo
		
		left join
		
		(
		select job_group, job_id, 
		sum(case when handle_code = 200 then 0 else 1 end) as dailyFailCnt, 
		sum(case when handle_code = 200 then 1 else 0 end) as dailySuccessCnt,
		sum(case when handle_code = 200 then UNIX_TIMESTAMP(handle_time) * 1000-UNIX_TIMESTAMP(trigger_time) * 1000 else 0 end)
		/ sum(case when handle_code = 200 then 1 else 0 end)  as dailyAvgCallTime,
		max(case when handle_code = 200 then UNIX_TIMESTAMP(handle_time) * 1000-UNIX_TIMESTAMP(trigger_time) * 1000 else 0 end) as dailyMaxCallTime
		
		from XXL_JOB_QRTZ_TRIGGER_LOG where job_group = #{jobGroup} and job_id = #{jobId} and to_days(trigger_time) = to_days(now())
		
		) dayInfo
		
		on monthInfo.job_group = dayInfo.job_group
		  and monthInfo.job_id = dayInfo.job_id		  

	</select>
	
	
	
</mapper>